@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background:white !important;
  
}
.navbg
{
    background:#ffffff !important;
}


  .navv{
    /* padding: 8px 15px; */
    margin-right: 3rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    transition: .5s linear;
    color:#0f6c81 !important;
    -webkit-transition: .5s linear;
    -moz-transition: .5s linear;
    -ms-transition: .5s linear;
    -o-transition: .5s linear;
  } 
  .navv:hover{
    color: #053742 !important;
  }
  .navv:active{
    color: #053742 !important;
    background-color: red;
  }

.logo{
    height:100px;
    width:100px;
}
.log{
  background:white !important;
  border-radius: 72px;
  background-clip: padding-box;
 
  
}

.bg__color {
  background: #0f6c81;
  color:white !important;
}
.bg__secondary {
  background: #053742;
}

.txt__primary {
  color:#0f6c81;
}

.txt__secondary {
  color: #053742;
}

.reg{
  background:white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px grey;
}

.bg{
  background:#0f6c81;
  border-radius:72px 0px 0px 72px;
}

.btn1{
  border:none;
  outline:none;
  height:50px;
  width: 100%;
  background-color:black;
  color:white;
  border-radius:4px;
  font-weight:bold;
  
}
.btn1:hover{
  background-color: #0093E9;
  color: #ffffff !important;
  border :1px solid black;
  
}
.buy-tic{
  background-color: #f0f0f0;
  color: #0f6c81 !important;
  border-radius: 1.7rem;

}
.buy-tic:hover .active{
  color: #053742 !important;

}
.reg__btn:hover{
background-color: #0f6c81!important;
color: white;
}
/* .buy-tic .active{
  background-color: #0093E9;
  color: #ffffff !important;
} */

.un{
  border-radius:1.5rem;
}

:disabled{
  cursor: not-allowed !important;
}
.reg__form label{
  font-weight: 400 !important;
  font-size: 1.25rem;
  color:#fff;
  
}
input
{
  border-radius: 23px !important;
}

.boxcontainer{
  margin:auto;
  margin-top:2%;
  position:relative;
  width:100%;
  height:50px;
  background:#e4e2e2;
  padding:0px 10px;
  border-radius :50px;
}
.element{
  width:100%;
  height:100%;
  vertical-align:middle;
 
}
.search{
  border:none;
  height:100%;
  width:100%;
  padding:0px 5px;
  border-radius: 50px;
  font-size: 18px;
  color:#000000;
  background:#e4e2e2;
}
.search:focus
{
  outline: none;
}
.Add{
  background:#0f6c81 !important;
  color: #ffffff !important;
  margin-top:10px;
  width:170px;
  height:55px;
  font-size:28px;
  font-weight: 500;
  float:right;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.8); 
  outline:none !important;
  border:none !important;
  border-radius: 23px;

}
.Add:hover{
  background-color: #053742  !important; 
  
}

.table__items
{
  padding:18px !important;
}

.table__items thead 
{
  background:#dcdcdc !important;
  color:#000 !important;
  font-size: 16px;
  
}
.table__items tbody
{
  background:#fff !important;
}
.table__rows
{
  color:black !important;
  font-weight: 400 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}


/* Pagination Css */

.main {
	width: 100%;
	height: 40px;
	list-style: none;
	display: flex;
	justify-content: center;
  }
  
.main a {
	padding: 10px;
	margin: 8px;
	color: white !important;
	cursor: pointer;
	backdrop-filter: blur(10px) !important;
	background:#0f6c81;
	background-clip: padding-box !important;
  text-decoration: none !important;
  border-radius: 3px;
  box-shadow: 2px 3px 4px rgba(0,0,0,0.4);

  }
  
  .main a:hover {
	color: white !important;
	background-color:#053742;
  }
  
  .pageActive a {
	color: #053742 !important;
	background-color: #dcdcdc;
  font-weight: bolder;
  }
  


/*Pagination complete*/

.imgContainer {
  width:60%;
  height:300px;
  overflow:hidden;
  background: rgba(3, 114, 240, 0.2);
  backdrop-filter: blur(15px);
  background-clip: padding-box;
  overflow: hidden;
  margin-left: auto !important;
  margin-right: auto !important;
  padding:0px;
  border-radius:4px;
}

.imgContainer img
{
  width:100%;
  height:100%;
}

.activeVertical
{
  background: black !important;
  color:white !important;
}
.icon-inside {
  position: absolute;
  right: 15px;
  top: calc(50% - 12px);
  pointer-events: none;
  font-size: 16px;
  font-size: 1.125rem;
  color: #c4c3c3;
  z-index:3;
}

@media only screen and (max-width:480px){
  .bg img{
    display: none;
  }
  
}