@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background:white !important;
  
}
.navbg
{
    background:#ffffff !important;
}


  .navv{
    /* padding: 8px 15px; */
    margin-right: 3rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    transition: .5s linear;
    color:#0f6c81 !important;
    -webkit-transition: .5s linear;
    -moz-transition: .5s linear;
    -ms-transition: .5s linear;
    -o-transition: .5s linear;
  } 
  .navv:hover{
    color: #053742 !important;
    border-bottom: 2px solid #053742;
  }
  

  .active
  {
    color: #053742 !important;
    border-bottom: 2px solid #053742;
    
  }

.buy_ticket_btn
{
   color:white !important;
   background: #053742 !important; 
    
}

.logo{
    height:100px;
    width:100px;
}
.log{
  background:white !important;
  border-radius: 72px;
  background-clip: padding-box;
 
  
}
.pimage{
  width:50px;
  height: 50px;
  border-radius: 50%;
  padding-right: 2px;
}
.dropdown-toggle{
  margin-top: 5px !important;
  
}
.pull-left{
  margin-right: 5px;
}
.modal-body{
  background:#f0f0f0;
}
.btn__Add{
  background: #0f6c81;
  color:white !important;
}
.btn__Add:hover{
  background: #053742;
}
.btnu{
  width:75px;
}

.bg__color {
  background: #0f6c81;
  color:white !important;
}

.bg__secondary {
  background: #053742;
}

.txt__primary {
  color:#0f6c81;
}

.txt__secondary {
  color: #053742;
}

.reg{
  background:white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px grey;
}

.bg{
  background:#0f6c81;
  border-radius:72px 0px 0px 72px;
}

.btn1{
  border:none;
  outline:none;
  height:50px;
  width: 100%;
  background-color:black;
  color:white;
  border-radius:4px;
  font-weight:bold;
  
}
.btn1:hover{
  background-color: #0093E9;
  color: #ffffff !important;
  border :1px solid black;
  
}
.buy-tic{
  background-color: #f0f0f0;
  border-radius: 1.7rem;

}
.buy-tic:hover{
  color: white !important;
  background: #053742 !important;

}
.reg__btn:hover{
background-color: #0f6c81!important;
color: white;
}
/* .buy-tic .active{
  background-color: #0093E9;
  color: #ffffff !important;
} */

.un{
  border-radius:1.5rem;
}

:disabled{
  cursor: not-allowed !important;
}
.reg__form label{
  font-weight: 400 !important;
  font-size: 1.25rem;
  color:#fff;
  
}
input,select
{
  border-radius: 23px !important;
}

.boxcontainer{
  margin:auto;
  margin-top:2%;
  position:relative;
  width:100%;
  height:50px;
  background:#e4e2e2;
  padding:0px 10px;
  border-radius :50px;
}
.element{
  width:100%;
  height:100%;
  vertical-align:middle;
 
}
.search{
  border:none;
  height:100%;
  width:100%;
  padding:0px 5px;
  border-radius: 50px;
  font-size: 18px;
  color:#000000;
  background:#e4e2e2;
}
.search:focus
{
  outline: none;
}
.Add{
  background:#0f6c81 !important;
  color: #ffffff !important;
  margin-top:10px;
  width:170px;
  height:55px;
  font-size:1.2rem;
  font-weight: 500;
  float:right;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.8); 
  outline:none !important;
  border:none !important;
  border-radius: 13px;

}
.Add:hover{
  background-color: #053742  !important; 
  
}

.table__items
{
  padding:18px !important;
}

.table__items thead 
{
  background:#dcdcdc !important;
  color:#000 !important;
  font-size: 16px;
  
}

.table__items th, .table__items td
{
  white-space: nowrap !important;
}

.table__items tbody
{
  background:#fff !important;
}
.table__rows
{
  color:black !important;
  font-weight: 400 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}


/* Pagination Css */

.main {
	width: 100%;
	height: 40px;
	list-style: none;
	display: flex;
	justify-content: center;
  }
  
.main a {
	padding: 10px;
	margin: 8px;
	color: white !important;
	cursor: pointer;
	backdrop-filter: blur(10px) !important;
	background:#0f6c81;
	background-clip: padding-box !important;
  text-decoration: none !important;
  border-radius: 3px;
  box-shadow: 2px 3px 4px rgba(0,0,0,0.4);

  }
  
  .main a:hover {
	color: white !important;
	background-color:#053742;
  }
  
  .pageActive a {
	color: #053742 !important;
	background-color: #dcdcdc;
  font-weight: bolder;
  }
  


/*Pagination complete*/

.imgContainer {
  width:60%;
  height:300px;
  overflow:hidden;
  background: rgba(3, 114, 240, 0.2);
  backdrop-filter: blur(15px);
  background-clip: padding-box;
  overflow: hidden;
  margin-left: auto !important;
  margin-right: auto !important;
  padding:0px;
  border-radius:4px;
}

.hospitalImg {
  background: rgba(3, 114, 240, 0.2);
  backdrop-filter: blur(15px);
  background-clip: padding-box;
}

.imgContainer img
{
  width:100%;
  height:100%;
}

.icon-inside {
  position: absolute;
  right: 15px;
  top: calc(50% - 12px);
  pointer-events: none;
  font-size: 16px;
  font-size: 1.125rem;
  color: #c4c3c3;
  z-index:3;
}


@media only screen and (max-width:480px){
  .bg img{
    display: none;
  }
  .pimage{
    display: none;
  }
  
}

.ticket{
  padding: 20px 15px;
}
.ticket input,select{
  height: 50px;
}


.reg__form2 label
{
  color:#0f6c81;
  font-weight: 600;
  margin-left: 6px;
}
::-webkit-scrollbar
{
    width: 8px !important;
    
}
::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    background: rgb(207, 199, 199) !important;
}
::-webkit-scrollbar-thumb:hover
{
    background: linear-gradient(transparent,#ff8c20) !important;
}
.hospitalCard
{
  height:460px !important;
  border-radius: 13px;
  border-bottom:4px solid #053742;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.6);
  cursor: pointer;
}
.hospitalCard:hover {
  transform: translateY(-30px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  transition: 0.5s all ease-in-out;
}

/* buy ticket */

.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:10px;
    overflow: hidden;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}